In [2]:
import pandas as pd
bat=pd.read_csv('C:\\Users\\user\\Desktop\\VS code\\test\\2. pumpkin\\data\\FS0300.csv', encoding = 'utf-8-sig')
bat.head(5)

  BV_MF_CD         MDL_NM  BATT_CAPCITY
0      HYD           일렉시티           128
1      HYD           일렉시티           256
2      HYD      일렉시티 이층버스           384
3      HYD      일렉시티 굴절버스           256
4      HYD  카운티 일렉트릭 마을버스           128

In [3]:
bat.rename(columns={'BV_MF_CD':'제조사','MDL_NM':'모델','BATT_CAPCITY':'배터리 용량(kw)'},inplace=True)

In [5]:
bat.to_excel('C:\\Users\\user\\Downloads\\전기버스 배터리 사양.xlsx', encoding = 'utf-8-sig', index = False)